@if ( index($wdc-components, 'checkbox') ) {

	/* --- WD Components --- Input --- */

	.wdc-checkbox, 
	.wdc-form input[type=checkbox] {
		cursor: pointer;
		position: relative;
		opacity: 0 !important;
		outline: 0;
		z-index: 3;
		width: 17px;
		height: 17px;
		margin: 0 9px 0 0;

		&+span {
			position: relative;
			margin-bottom: 3px;
			display: inline-block;
			user-select: none;

			&:before, &:after {
				position: absolute;
				top: 0;
				left: -26px;
				width: 17px;
				height: 17px;
				content: '';
				box-sizing: border-box;
			}

			&:before {
				border-radius: 3px;
				border: 1px solid $wdc-color-grey-d;
				background: #fff;
			}
		}

		&:checked {

			&+span {
				
				&:after {
					content: '';
					background-image: url('../svg/checkbox.svg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: 11px;
				}
			}
		}

		&:focus {

			&+span {
				
				&:before {
					border-color: $wdc-color-blue;
				}
			}
		}
	}
}