@if ( index($wdc-components, 'checkbox') ) {

	/* --- WD Components --- Checkbox --- */

	.wdc-checkbox, 
	.wdc-form input[type=checkbox] {
		width: $wdc-checkbox-width;
		height: $wdc-checkbox-height;
		position: $wdc-checkbox-position;
		opacity: 0;
		cursor: $wdc-checkbox-cursor;
		outline: $wdc-checkbox-outline;
		z-index: 3;
		margin: 0;
		margin-right: $wdc-checkbox-margin-right;
		margin-bottom: $wdc-checkbox-margin-bottom;

		&+span {
			position: relative;
			display: inline-block;
			user-select: none;
			line-height: $wdc-checkbox-height;

			&:before, &:after {
				position: absolute;
				top: 0;
				left: 0 - $wdc-checkbox-margin-right - $wdc-checkbox-width;
				width: $wdc-checkbox-width;
				height: $wdc-checkbox-height;
				content: '';
				box-sizing: border-box;
			}

			&:before {
				border-radius: $wdc-checkbox-border-radius;
				border: $wdc-checkbox-border;
				background: $wdc-checkbox-background;
				transition: $wdc-checkbox-transition;
			}
		}

		&:checked {

			&+span {
				
				&:after {
					content: '';
					background-image: $wdc-checkbox-checked-background-image;
					background-repeat: no-repeat;
					background-position: center;
					background-size: $wdc-checkbox-checked-background-size;
				}
			}
		}

		&:focus {

			&+span {
				
				&:before {
					border: $wdc-checkbox-focus-border;
				}
			}
		}
	}
}