@if ( index($wdc-components, 'input') ) {

	/* --- WD Components --- Input --- */

	.wdc-input, 
	.wdc-form input[type=text],
	.wdc-form input[type=email],
	.wdc-form input[type=number],
	.wdc-form input[type=password],
	.wdc-form input[type=tel],
	.wdc-form input[type=color],
	.wdc-form input[type=date],
	.wdc-form input[type=datetime-local],
	.wdc-form input[type=month],
	.wdc-form input[type=range],
	.wdc-form input[type=time],
	.wdc-form input[type=url],
	.wdc-form input[type=week],
	.wdc-form input[type=search] {
		height: 34px;
		line-height: 34px;
		border-radius: 4px;
		border: 1px solid #ccc;
		padding: 0 14px;
		outline: 0;
		font-size: $wdc-button-font-size;
		color: $wdc-color-grey-a;

		&:focus {
			border-color: $wdc-color-blue;
		}

		&::placeholder {
			color: $wdc-color-grey-d;
		}

		&::-ms-input-placeholder {
			color: $wdc-color-grey-d;
		}

		&:disabled {
			opacity: 0.5;
		}
	}
}