@if ( index($wdc-components, 'radio') ) {

	/* --- WD Components --- Radio --- */

	.wdc-radio, 
	.wdc-form input[type=radio] {
		width: $wdc-radio-width;
		height: $wdc-radio-height;
		position: relative;
		opacity: 0;
		margin: 0;
		margin-right: $wdc-radio-margin-right;
		margin-bottom: $wdc-radio-margin-bottom;

		&+span {
			position: relative;
			display: inline-block;
			user-select: none;
			line-height: $wdc-radio-height;

			&:before, &:after {
				position: absolute;
				content: '';
				box-sizing: border-box;
				border-radius: $wdc-radio-width;
			}

			&:before {
				left: 0 - $wdc-radio-margin-right - $wdc-radio-width;
				width: $wdc-radio-width;
				height: $wdc-radio-height;
				background: $wdc-radio-background;
				border: $wdc-radio-border;
				transition: $wdc-radio-transition;
			}
		}

		&:checked {

			&+span {

				&:after {
					background-color: $wdc-radio-checked-background-color;
					width: $wdc-radio-checked-width;
					height: $wdc-radio-checked-height;
					top: 0 + ( $wdc-radio-height - $wdc-radio-checked-height ) / 2;
					left: 0 - $wdc-radio-margin-right - $wdc-radio-width + ( $wdc-radio-width - $wdc-radio-checked-width ) / 2;
				}
			}
		}

		&:focus {

			&+span {
				
				&:before {
					border: $wdc-radio-focus-border;
				}
			}
		}
	}
}