@if ( index($wdc-components, 'select') ) {

	/* --- WD Components --- Select --- */

	.wdc-select, 
	.wdc-form select {
		font-family: $wdc-font-family;
		font-size: $wdc-font-size;
		height: $wdc-select-height;
		line-height: $wdc-select-height;
		border-radius: $wdc-select-border-radius;
		border: $wdc-select-border;
		padding: $wdc-select-padding;
		outline: $wdc-select-outline;
		color: $wdc-select-color;
		transition: $wdc-select-transition;

		&:focus {
			border-color: $wdc-select-focus-color;
		}

		&:disabled {
			opacity: $wdc-select-disabled-opacity;
		}
	}
}