@if ( index($wdc-components, 'textarea') ) {

	/* --- WD Components --- Textarea --- */

	.wdc-textarea, 
	.wdc-form textarea {
		font-family: $wdc-font-family;
		font-size: $wdc-font-size;
		height: $wdc-textarea-height;
		line-height: $wdc-textarea-line-height;
		border-radius: $wdc-textarea-border-radius;
		border: $wdc-textarea-border;
		padding: $wdc-textarea-padding;
		outline: $wdc-textarea-outline;
		color: $wdc-textarea-color;
		transition: $wdc-textarea-transition;

		&:focus {
			border-color: $wdc-textarea-focus-color;
		}

		&:disabled {
			opacity: $wdc-textarea-disabled-opacity;
		}
	}
}