@if ( index($wdc-components, 'textarea') ) {

	/* --- WD Components --- Input --- */

	.wdc-textarea, 
	.wdc-form textarea {
		height: 34px;
		line-height: 20px;
		border-radius: 4px;
		border: 1px solid #ccc;
		padding: 10px 14px;
		outline: 0;
		font-size: $wdc-button-font-size;
		color: $wdc-color-grey-a;
		height: 70px;

		&:focus {
			border-color: $wdc-color-blue;
		}

		&:disabled {
			opacity: 0.5;
		}
	}
}