@if ( index($wdc-components, 'textarea') ) {

	/* --- WD Components --- Textarea --- */

	.wdc-textarea, 
	.wdc-form textarea {
		font-family: $wdc-font-family;
		font-size: $wdc-button-font-size;
		height: 34px;
		line-height: 20px;
		border-radius: 4px;
		border: 1px solid $wdc-color-grey-1;
		padding: 10px 14px;
		outline: 0;
		color: $wdc-color-grey-5;
		height: 70px;
		transition: border-color 0.3s;

		&:focus {
			border-color: $wdc-color-secondarylue;
		}

		&:disabled {
			opacity: 0.5;
		}
	}
}