// --------- Colors ---------
$wdc-color-primary: #900 !default;
$wdc-color-secondary: #980 !default;
$wdc-color-tertiary: #088 !default;

$wdc-color-red: #db2828 !default;
$wdc-color-orange: #f2711c !default;
$wdc-color-yellow: #fbbd08 !default;
$wdc-color-olive: #b5cc18 !default;
$wdc-color-green: #21ba45 !default;
$wdc-color-teal: #00b5ad !default;
$wdc-color-blue: #2185d0 !default;
$wdc-color-violet: #6435c9 !default;
$wdc-color-purple: #a333c8 !default;
$wdc-color-pink: #e03997 !default;
$wdc-color-brown: #a5673f !default;

$wdc-color-white: #fff !default;
$wdc-color-grey-1: darken(#fff, 100% / 7) !default;
$wdc-color-grey-2: darken(#fff, 100% / 7 * 2) !default;
$wdc-color-grey-3: darken(#fff, 100% / 7 * 3) !default;
$wdc-color-grey-4: darken(#fff, 100% / 7 * 4) !default;
$wdc-color-grey-5: darken(#fff, 100% / 7 * 5) !default;
$wdc-color-grey-6: darken(#fff, 100% / 7 * 6) !default;
$wdc-color-black: #000 !default;

// --------- Fonts ---------
$wdc-font-size: 14px !default;
$wdc-font-family: Lato;

// --------- Button ---------
$wdc-button-background-color: $wdc-color-grey-1 !default;
$wdc-button-color: $wdc-color-grey-5 !default;
$wdc-button-border-radius: 3px !default;
$wdc-button-padding: 0 20px !default;
$wdc-button-height: 36px !default;
$wdc-button-font-size: $wdc-font-size !default;
$wdc-button-transition: background-color 0.2s !default;
$wdc-button-outline: none !default;
$wdc-button-border: none !default;
$wdc-button-display: inline-block !default;
$wdc-button-cursor: pointer !default;

$wdc-button-primary-color: $wdc-color-white !default;
$wdc-button-primary-background-color: $wdc-color-primary !default;
$wdc-button-primary-background-color-hover: darken( $wdc-color-primary, 10% ) !default;

$wdc-button-secondary-color: $wdc-color-white !default;
$wdc-button-secondary-background-color: $wdc-color-secondary !default;
$wdc-button-secondary-background-color-hover: darken( $wdc-color-secondary, 10% ) !default;

$wdc-button-tertiary-color: $wdc-color-white !default;
$wdc-button-tertiary-background-color: $wdc-color-tertiary !default;
$wdc-button-tertiary-background-color-hover: darken( $wdc-color-tertiary, 10% ) !default;

$wdc-button-margin-bottom: 20px !default;

// --------- Checkbox ---------

$wdc-checkbox-width: 17px !default;
$wdc-checkbox-height: 17px !default;
$wdc-checkbox-cursor: pointer !default;
$wdc-checkbox-position: relative !default;
$wdc-checkbox-outline: 0 !default;
$wdc-checkbox-margin-right: 9px !default;
$wdc-checkbox-margin-bottom: 5px !default;
$wdc-checkbox-border-radius: 3px !default;
$wdc-checkbox-border: 1px solid $wdc-color-grey-1 !default;
$wdc-checkbox-background: #fff !default;
$wdc-checkbox-transition: border-color 0.3s !default;

$wdc-checkbox-checked-background-image: url('../svg/checkbox.svg') !default;
$wdc-checkbox-checked-background-size: 11px !default;

// --------- Form ---------

$wdc-form-column-margin: 20px !default;
$wdc-form-field-margin-bottom: 20px !default;
$wdc-form-label-margin-bottom: 5px !default;

// --------- Input ---------

$wdc-input-height: 34px !default;
$wdc-input-line-height: 34px !default;
$wdc-input-border-radius: 4px !default;
$wdc-input-border: 1px solid $wdc-color-grey-1 !default;
$wdc-input-padding: 0 14px !default;
$wdc-input-outline: 0 !default;
$wdc-input-color: $wdc-color-grey-5 !default;
$wdc-input-transition: border-color 0.2s !default;

$wdc-input-focus-border-color: $wdc-color-blue !default;
$wdc-input-placeholder-color: $wdc-color-grey-1 !default;
$wdc-input-disabled-opacity: 0.5;

// --------- Radio ---------

$wdc-radio-width: 15px !default;
$wdc-radio-height: 15px !default;
$wdc-radio-margin-right: 9px !default;
$wdc-radio-margin-bottom: 5px !default;
$wdc-radio-background: #fff !default;
$wdc-radio-border: 1px solid #d4d4d5 !default;
$wdc-radio-transition: border-color 0.3s !default;

$wdc-radio-checked-background-color: $wdc-color-primary !default;
$wdc-radio-checked-width: 7px !default;
$wdc-radio-checked-height: 7px !default;

$wdc-radio-focus-border: 1px solid $wdc-color-blue !default;

// --------- Select ---------

// --------- Textarea ---------

